//Global Styles 

html {
  font-size: 62.5%;
  background-color: $blue;
  color: $text;
  font-family: $bodyText;
}

body * {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button,
a,
input {
  transition: all 0.3s ease-in-out;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

//header Styles 

header {
  margin: 10px;

  h1 {
    @include headerFont(calc(3rem + 3.5vw));
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lighten($blue, 30%);
    text-shadow: 3px 3px 0px $darkerText;
    margin-bottom: 5px;
    text-align: center;
  }

  h2 {
    font-family: $bodyText;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 400;
    padding: 8px 0;
  }
}

//main styles 

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  width: 50vw;
  min-width: 450px;

  input[type="text"] {
    height: 40px;
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.9rem;
    letter-spacing: 0.8px;
    color: $text;
    border: 1px solid $lightOrange;
    outline: none;
    background-color: $blue;

    &:focus,
    &:hover {
      background-color: lighten($blue, 10%);
    }
  }

  ::placeholder {
    opacity: 0.8;
  }

  button {
    height: 40px;
    width: 25%;
    min-width: 120px;
    margin-left: 10px;
    padding: 0 35px;
    font-size: 1.9rem;
    color: $blue;
    border: 1px solid transparent;
    background-color: $darkerOrange;

    &:hover,
    &:focus {
      background-color: $text;
    }
  }
}

// Modal Box

.react-responsive-modal-modal {
  background: $lightOrange !important;
  width: 60%;
  height: 80%;
  max-width: 850px;
  min-width: 350px;
  margin: 20px;
  padding: 0;
  overflow-y: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;

    p {
      font-family: $bodyText;
      font-size: calc(1.2rem + 1vw);
      color: $darkerBlue;
      text-align: center;
      display: block;

      &.returnSearch {
        margin-bottom: 20px;

        span {
          font-weight: bolder;
        }
      }

      &.narrowSearch {
        font-size: calc(0.8rem + 1vw);
        padding: 25px;
      }
    }

    button {
      width: 80%;
      max-width: 400px;
      padding: 10px;
      margin-top: 5px;
      outline: none;
      border: none;
      background: $text;

      &:hover,
      &:focus {
        background: darken($text, 20%);
      }

      p {
        font-size: 1.8rem;
      }

      p.buttonTitle {
        font-size: 2.2rem;
      }
    }
  }
}

// Results Section

.resultsSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  min-height: 500px;
  position: relative;

  .react-card-flip {
    width: 45%;
    min-width: 450px;
    height: 95%;
    margin: 25px;
    max-height: 600px;
    min-height: 500px;
  }

  .icon {
    font-size: 8rem;
    color: $darkerOrange;
    position: absolute;
  }

  .filmIcon {
    transform: rotate(-20deg);
    top: -5px;
    left: -5px;
  }

  .bookIcon {
    transform: rotate(20deg);
    top: -5px;
    right: -5px;
  }

  //immediate parent to results content 

  div.wins,
  div.loses,
  div.back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 20px;
    background: $darkerBlue;
  }

  h3 {
    position: absolute;
    top: -25px;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-style: italic;
    color: $darkerBlue;
    padding: 0 10px 0 5px;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.6rem;
  }

  p.author {
    padding: 5px;
    display: none;
  }

  img {
    height: calc(14rem + 8vw);
    object-fit: cover;
    max-height: 215px;
    margin: 20px 0 20px;
  }
}

button.readMore {
  font-size: 1.8rem;
  color: $text;
  background-color: $darkerBlue;
  border: none;
  border-top: 1px solid $text;
  padding: 5px;
  margin-top: 10px;

  &:hover,
  &:focus {
    color: $lightOrange;
  }
}

//back side of results cards

div.back {
  p {
    padding: 30px 20px;
    overflow-y: scroll;
    height: 300px;
    scrollbar-color: $darkerOrange $darkerBlue;
  }

  p::-webkit-scrollbar {
    background-color: $darkerBlue;
    width: 1rem;
  }

  p::-webkit-scrollbar-thumb {
    background-color: $darkerOrange;
  }

  button {
    font-size: 1.8rem;
    color: $text;
    background-color: $darkerBlue;
    border: none;
    border-top: 1px solid $text;
    padding: 5px;
    margin-top: 10px;
    margin-top: auto;

    &:hover,
    &:focus {
      color: $lightOrange;
    }
  }
}

p.rating {
  @include headerFont(3rem);
  color: $lightOrange;
  z-index: 1;
  position: absolute;
  bottom: 35px;
}

//wins class styles 

.wins {
  border: 7px solid $yellow;

  h3 {
    background-color: $yellow;
  }

  .rating {
    color: $winner;
  }
}

//loses + tie class styles

.loses,
.tie {
  border: 7px solid $text;
  h3 {
    background-color: $text;
  }

  .star {
    opacity: 0;
  }
}

//SVG styles 

.star {
  opacity: 1;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -50px;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: auto;
  padding: 20px;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    color: $text;

    &:focus,
    &:hover {
      color: $lightOrange;
    }
  }
}
