// colours

$blue: #0f1a5c;
$darkerBlue: #0c154b;
$text: #caeded;
$darkerText: #5abfad;
$lightOrange: #e9905c;
$darkerOrange: #e1694e;
$yellow: #eebf66;
$winner: #d36e58;


// fonts

$header: 'Bangers', cursive;
$bodyText: 'Montserrat', sans-serif;

