
// colours
$blue: #041159;
$darkerBlue: #000b4a;
$text: #caeded;
$darkerText: #5abfad;
$lightOrange: #ff9b60;
$darkerOrange: #f27052;
$yellow: #ffd900;
$winner: #d95f44;


// fonts
$header: 'Righteous', cursive;
$bodyText: 'Montserrat', sans-serif;

